body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    background-color: rgb(254, 216, 235);
    margin-bottom: 50px;
}

h1{
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    margin-top: 50px;
    color: rgb(251, 112, 135);
}

.customDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button{
    weight:150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(129, 51, 129);
    color:white;
   
    
}
.buttonDiv{
    display: flex;
    gap: 50px;
    padding:30px;
}

.board{
    display: grid;
    width:500px;
    height: 500px;
    border: 1px solid rgb(129, 51, 129);
}
